.auth {
	ion-input {
		--background-color: #fff !important;
		--padding-start: 1.8rem !important;
		--padding-end: 1.5rem !important;
		--padding-top: .69rem !important;
		--padding-bottom: .69rem !important;
		--color: $color-mainDark !important;
		--placeholder-color: $color-mainDark !important;
		border-radius: 10px;

		@media screen and (max-width: 1024px) {
			--background-color: #F7F7FC !important;
		}
	}

	ion-button {
		--background-color: #546DD3;
		--border-radius: 0.5rem;
		--color: white;
		--padding-top: 1rem;
		--padding-bottom: 1rem;
		height: 2.75rem;
		transition: all .5s ease-in-out;
	}
}
