$sm: 640px;
$md: 768px;
$lg: 1280px;
$xl: 1420px;
$xxl: 1536px;

$color-primary: #546dd2;
$color-white: #fefefe;
$color-black: #111b25;
$color-red: #FF6666;
$color-lightGray: #FCFCFC;
$color-darkGray: #4D5C6F;
$color-iconInactive: #8B9EB1;
$color-fadedGray: #C7D6E3;
$color-mainDark: #132740;
$color-newGray: #F2F3F5;
$color-cyan: #54B5D3;
$color-gray: #64778A;
$color-pink: #FF6496;
$color-yellowStar: #FFDC00;
$color-purple: #C864DC;
$color-orange: #FFA84B;
$color-green: #00D246;
