@import './global.scss';
@import './ionic.scss';
@import './tailwind.css';
@import './layout.scss';
@import '~katex/dist/katex.min.css';

:root {
	--clr-primaryBg: #162565;
	--clr-primaryText: #FFFFFF;
	--clr-primaryHover: #194084;
	--clr-bodyBg: #FFFFFF;
	--clr-bodyText: #05090D;
	--clr-headerBg: #162565;
	--clr-headerText: #FFFFFF;
	--clr-itemBg: #F1F3F7;
	--clr-secondaryText: #494C58;
	--clr-disabled: #C5C9D9;
	--clr-outlineHover: #B6D9FF;
	--clr-success: #0FDC64;
	--clr-danger: #FF3232;
	--clr-info: #218FDF;
	--clr-warning: #FFA84B;
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--clr-primaryBg: #FFFFFF;
// 		--clr-primaryText: #1E2230;
// 		--clr-primaryHover: #F1EAEA;
// 		--clr-bodyBg: #1E2230;
// 		--clr-bodyText: #FFFFFF;
// 		--clr-headerBg: #05090D;
// 		--clr-headerText: #FFFFFF;
// 		--clr-itemBg: #494C58;
// 		--clr-secondaryText: #F1F3F7;
// 		--clr-disabled: #C5C9D9;
// 		--clr-outlineHover: #181C27;
// 		--clr-success: #0FDC64;
// 		--clr-danger: #FF3232;
// 		--clr-info: #218FDF;
// 		--clr-warning: #FFA84B;
// 	}
// }

$spacers: (
	0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14,
	16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 72, 80, 96
);
$grid-breakpoints: (
	'': 0,
	'sm:': '640px',
	'md:': '768px',
	'lg:': '1280px',
	'xl:': '1420px',
	'2xl:': '1536px'
);

@each $key in $spacers {
	@each $bp, $width in $grid-breakpoints {
		body[data-no-gap='true'] *[class*="#{$bp}gap-#{$key}"] {
			@media (min-width: $width) {
				gap: 0 !important;

				& > *:not(:only-child) {
					margin: calc(#{$key}px) !important;
				}
			}
		}
	}
}
