.chat-block {
	width: 100%;

	.body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		& > * {
			padding: 1rem;
		}

		.content {
			flex-grow: 1;
			border-top: $border;
			border-bottom: $border;
			overflow-y: auto;
			padding: 0.25rem 1rem;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}
