@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
    display: none;
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

@layer utilities {
    .layout-page{
        @apply w-full lg:w-[84%] lg:ml-[16%] lg:px-20 relative flex  mt-[64px] md:mt-[74px] flex-row lg:gap-16 lg:mt-[93px]
    }

	.layout-page-notab{
        @apply w-full lg:w-[84%] lg:ml-[16%] lg:px-20 relative flex  mt-[14px] flex-row lg:gap-16 lg:mt-[93px]
    }

    .layout-body{
        @apply lg:w-3/4 w-full grid-cols-12 grid lg:mt-6
    }
    .layout-main{
    @apply lg:w-[60%] !max-w-[60%] lg:p-0 pt-14 flex flex-col mx-auto my-0 w-full flex-grow
    }
    .layout-side-left{
    @apply hidden lg:flex bg-light_gray py-3 pl-3 fixed  h-full bottom-0 flex-col rounded-tr-3xl rounded-br-3xl
    }
    .layout-side-right{
    @apply hidden lg:inline-block w-1/4 py-1
    }

	.inactiveSlideTab {
		@apply py-3 px-3 text-xs md:text-sm  font-semibold bg-light_gray text-dark_gray rounded-md focus:outline-none
	}

	.activeSlideTab {
		@apply py-3 px-3 text-xs md:text-sm  font-semibold text-white bg-icon_inactive rounded-md focus:outline-none
	}

	.normalText {
		@apply md:text-sm text-xs
	}

	.headings {
		@apply md:text-sm text-xs
	}

	.headingsVeryLarge {
		@apply md:text-lg text-sm
	}

	.cardPadding {
		@apply py-4 px-4
	}

}
