@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 3px;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background: #4e474788;
	border-radius: 100px;
	cursor: pointer;
}

@layer utilities {
	html {
		@apply text-[14.5px] md:text-[16px] bg-bodyBg text-bodyText;
	}

	.layout {
		@apply flex flex-col h-full flex-grow max-h-[100%];
	}

	.layout-page {
		@apply flex h-fit flex-grow w-full overflow-y-auto;
	}

	.layout-page > * {
		@apply h-full overflow-y-auto;
	}

	.layout-page-left {
		@apply hidden lg:block w-[80px] lg:border-r-2 lg:border-r-itemBg;
	}

	.layout-page-panel {
		@apply hidden lg:block w-[20%] py-8;
	}

	.layout-page-main {
		@apply w-full lg:w-[calc(75%-80px)] flex flex-col lg:border-x-2 lg:border-x-itemBg lg:pt-8;
	}

	.layout-page-content {
		@apply h-fit overflow-y-auto flex-grow;
	}

	.layout-page-panel + .layout-page-main {
		@apply lg:w-[calc(55%-80px)];
	}

	.layout-page-right {
		@apply hidden lg:block w-[25%] py-8;
	}

	.btn {
		@apply px-4 py-2 flex justify-center items-center font-semibold;
	}

	.headerShadow {
		box-shadow: 0 0 15px 5px rgba(139, 158, 177, 0.1);
	}

	.footer-shadow {
		box-shadow: 0 -5px 5px rgba(139, 158, 177, 0.05);
	}

	.showcase {
		@apply grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 grid-cols-1 md:gap-4;
	}

	.showcase2 {
		@apply grid 2xl:grid-cols-4 xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 grid-cols-2 md:gap-4;
	}

	.showcase-flex {
		@apply flex flex-col lg:gap-6;
	}

	.showcase-files {
		@apply grid grid-cols-3 md:grid-cols-4 gap-2 p-2;
	}

	.nav-scroll {
		@apply text-secondaryText text-sm items-center md:justify-between flex font-semibold overflow-x-auto;
	}

	.nav-scroll > * {
		@apply w-full py-2 px-4 cursor-pointer flex items-center justify-center gap-2 whitespace-nowrap font-bold border-b-2 border-itemBg lg:border-b-0;
	}

	.nav-scroll > *.router-link-exact-active {
		@apply border-b-2 text-primaryBg border-primaryBg;
	}

	.dot {
		@apply h-[3px] w-[3px] text-[6px] rounded-full;
	}

	.hasBg {
		@apply lg:bg-itemBg;
	}

	.card {
		@apply lg:rounded-xl lg:border lg:border-disabled;
	}

	.card-sm {
		@apply rounded-xl border border-disabled;
	}

	.card-padding {
		@apply p-4 gap-2 lg:gap-4 lg:p-6;
	}

	[class*='-line'].card-padding {
		@apply py-5 lg:py-6;
	}

	.page-padding {
		@apply p-4 lg:p-0;
	}

	ion-icon {
		@apply transition-all duration-300;
	}
}
