{
	"google_client_id": "",
	"flutterwave": {
		"public_key": ""
	},
	"stripe": {
		"public_key": ""
	},
	"firebase_client_config": {
		"auth_domain": "",
		"database_url": "",
		"project_id": "",
		"storage_bucket": "",
		"api_key": "",
		"messaging_sender_id": "",
		"app_id": "",
		"measurement_id": ""
	},
	"api_bases": {
		"auth": "http://localhost:80/api/auth",
		"stranerd": "http://localhost:80/api/stranerd",
		"utils": "http://localhost:80/api/utils"
	},
	"environment": "local",
	"domain": "localhost"
}
