{
	"google_client_ids": {
		"web": "",
		"android": "",
		"ios": ""
	},
	"api_base": "http://localhost/api",
	"environment": "local",
	"domain": "localhost:8080",
	"package_name": "com.stranerd.app.dev",
	"app_name": "Stranerd Local",
	"ios": {
		"certificate_password": "",
		"keychain_password": ""
	},
	"android": {
		"keystore_alias": "",
		"keystore_password": ""
	},
	"asset_links": {
		"android": [],
		"ios": {}
	}
}
